{
 :plant/plants
 [{:plant/name            "Sweet Alyssum"
   :plant/scientific-name "Lobularia maritima"
   :plant/type            :flower
   :plant/sow-outdoors
   [{:start [:jan 1], :end [:mar 15]}
    {:start [:oct 1], :end [:dec 30]}]}
  {:plant/name            "Sweet Peas"
   :plant/scientific-name "Lathyrus odoratus"
   :plant/type            :flower
   :plant/sow-outdoors
   [{:start [:jan 1], :end [:feb 15]}
    {:start [:oct 1], :end [:dec 30]}]}
  {:plant/name            "Sweet Potatoes"
   :plant/scientific-name "Ipomoea batatas"
   :plant/type            :vegetable
   :plant/sow-outdoors
   [{:start [:mar 1], :end [:jun 30]}]
   :plant/sow-indoors
   [{:start [:jan 1], :end [:apr 30]}]}
  {:plant/name "Borage"
   :plant/scientific-name "Borago officinalis"
   :plant/type :flower
   :plant/sow-outdoors
   [{:start [:jan 1], :end [:jan 15]}
    {:start [:oct 1], :end [:dec 30]}]}
  {:plant/name "Potatoes"
   :plant/type :vegetable
   :plant/scientific-name "Solanum tuberosum"
   :plant/sow-outdoors
   [{:start [:jan 1], :end [:jan 30]}
    {:start [:sept 1], :end [:dec 30]}]
   :plant/sow-indoors
   [{:start [:sept 1], :end [:dec 30]}]}
  {:plant/name "Echinacea"
   :plant/type :flower
   :plant/sow-outdoors
   [{:start [:oct 1], :end [:nov 15]}]}
  {:plant/name "Snapdragon"
   :plant/scientific-name "Antirrhinum majus"
   :plant/sow-outdoors
   [{:start [:jan 1], :end [:feb 15]}
    {:start [:sept 15], :end [:dec 30]}]}
  {:plant/name "Garlic Chives"
   :plant/transplant
   [{:start [:jan 1], :end [:apr 30]}
    {:start [:oct 1], :end [:dec 30]}]}
  {:plant/name "Celery"
   :plant/type :vegetable
   :plant/sow-indoors
   [{:start [:jul 1], :end [:sept 30]}]
   :plant/transplant
   [{:start [:sept 15], :end [:nov 30]}]}
  {:plant/name "Comfrey"
   :plant/transplant
   [{:start [:jan 1], :end [:jan 30]}
    {:start [:oct 1], :end [:dec 30]}]
   :plant/sow-outdoors
   [{:start [:jan 1], :end [:jan 30]}
    {:start [:oct 1], :end [:dec 30]}]}
 {:plant/name "Radish"
  :plant/type :vegetable
  :plant/sow-outdoors
  [{:start [:jan 1], :end [:mar 15]}
  {:start [:sept 15], :end [:dec 30]}]} 
  {:plant/name "Ginger"
   :plant/type :herb
   :plant/sow-indoors
   [{:start [:jan 1], :end [:feb 30]}]
   :plant/sow-outdoors
   [{:start [:mar 1], :end [:mar 30]}]}
  {:plant/name "Buckwheat"
   :plant/sow-outdoors
   [{:start [:mar 1], :end [:oct 30]}]}
 {:plant/name "Brussel Sprouts"
  :plant/sow-indoors
  [{:start [:jul 1], :end [:sept 30]}]
  :plant/transplant
  [{:start [:sept 15], :end [:nov 30]}]}
 {:plant/name "Broccoli"
  :plant/type :vegetable
  :plant/transplant
  [{:start [:jan 1], :end [:jan 30]}
   {:start [:sept 15], :end [:dec 30]}]
  :plant/sow-indoors
  [{:start [:aug 1], :end [:dec 30]}]
  :plant/sow-outdoors
  [{:start [:sept 15], :end [:nov 30]}]}

  {:plant/name "Amaranth",
    :plant/type :vegetable,
    :plant/sow-outdoors
    ({:start [:mar 1], :end [:apr 30]}
     {:start [:jul 1], :end [:aug 30]})}
   {:plant/name "Artichoke (Jerusalem)",
    :plant/type :vegetable,
    :plant/sow-outdoors ({:start [:feb 1], :end [:may 30]}),
    :plant/transplant ({:start [:feb 1], :end [:may 30]})}
   {:plant/name "Artichokes (Globe)",
    :plant/type :vegetable,
    :plant/sow-indoors ({:start [:aug 1], :end [:dec 30]}),
    :plant/sow-outdoors ({:start [:oct 1], :end [:dec 30]}),
    :plant/transplant
    ({:start [:jan 1], :end [:feb 30]}
     {:start [:oct 1], :end [:dec 30]})}
   {:plant/name "Arugula",
    :plant/type :vegetable,
    :plant/sow-indoors ({:start [:aug 1], :end [:dec 30]}),
    :plant/sow-outdoors
    ({:start [:jan 1], :end [:jan 30]}
     {:start [:oct 1], :end [:dec 30]}),
    :plant/transplant
    ({:start [:jan 1], :end [:jan 30]}
     {:start [:oct 1], :end [:dec 30]})}
   {:plant/name "Asparagus",
    :plant/type :vegetable,
    :plant/sow-indoors ({:start [:aug 1], :end [:nov 30]}),
    :plant/transplant
    ({:start [:jan 1], :end [:jan 30]}
     {:start [:nov 1], :end [:dec 30]})}
   {:plant/name "Bachelor’s Button",
    :plant/scientific-name "Centaurea cyanus",
    :plant/type :flower,
    :plant/sow-outdoors ({:start [:sept 15], :end [:nov 30]})}
   {:plant/name "Basil",
    :plant/type :herb,
    :plant/sow-indoors ({:start [:jan 1], :end [:jul 30]}),
    :plant/sow-outdoors ({:start [:mar 1], :end [:aug 30]}),
    :plant/transplant ({:start [:feb 15], :end [:aug 30]})}
   {:plant/name "Beans (Bush & Pole)",
    :plant/type :vegetable,
    :plant/sow-outdoors
    ({:start [:mar 15], :end [:apr 30]}
     {:start [:aug 1], :end [:sept 30]})}
   {:plant/name "Beets",
    :plant/type :vegetable,
    :plant/sow-indoors
    ({:start [:jan 1], :end [:jan 30]}
     {:start [:aug 1], :end [:dec 30]}),
    :plant/sow-outdoors
    ({:start [:jan 1], :end [:feb 30]}
     {:start [:sept 15], :end [:dec 30]}),
    :plant/transplant
    ({:start [:jan 1], :end [:feb 30]}
     {:start [:sept 15], :end [:dec 30]})}
   {:plant/name "Bells of Ireland",
    :plant/scientific-name "Moluccella laevis",
    :plant/type :flower,
    :plant/sow-outdoors ({:start [:sept 15], :end [:nov 30]})}
   {:plant/name "Blackberry",
    :plant/type :vegetable,
    :plant/transplant
    ({:start [:feb 1], :end [:mar 30]}
     {:start [:oct 1], :end [:oct 30]})}
   {:plant/name "Bok Choy",
    :plant/type :vegetable,
    :plant/sow-indoors
    ({:start [:jan 1], :end [:jan 30]}
     {:start [:aug 1], :end [:dec 30]}),
    :plant/sow-outdoors
    ({:start [:jan 1], :end [:jan 30]}
     {:start [:sept 15], :end [:dec 30]}),
    :plant/transplant
    ({:start [:jan 1], :end [:feb 30]}
     {:start [:sept 15], :end [:dec 30]})}
   {:plant/name "Calendula",
    :plant/scientific-name "Calendula officinalis",
    :plant/type :flower,
    :plant/sow-outdoors ({:start [:sept 15], :end [:nov 30]})}
   {:plant/name "Carrots",
    :plant/type :vegetable,
    :plant/sow-outdoors
    ({:start [:jan 1], :end [:mar 30]}
     {:start [:sept 15], :end [:dec 30]})}
   {:plant/name "Chamomile",
    :plant/type :flower,
    :plant/sow-indoors
    ({:start [:jan 1], :end [:jan 30]}
     {:start [:aug 1], :end [:dec 30]}),
    :plant/transplant
    ({:start [:jan 1], :end [:mar 30]}
     {:start [:oct 1], :end [:dec 30]})}
   {:plant/name "Cilantro",
    :plant/type :herb,
    :plant/sow-outdoors
    ({:start [:jan 1], :end [:jan 30]}
     {:start [:oct 1], :end [:dec 30]})}
   {:plant/name "Corn",
    :plant/type :vegetable,
    :plant/sow-outdoors
    ({:start [:feb 15], :end [:mar 30]}
     {:start [:jul 1], :end [:aug 30]})}
   {:plant/name "Cowpeas",
    :plant/type :vegetable,
    :plant/sow-outdoors ({:start [:apr 1], :end [:aug 30]})}
   {:plant/name "Cucumber",
    :plant/type :vegetable,
    :plant/sow-indoors
    ({:start [:jan 1], :end [:apr 30]}
     {:start [:jul 1], :end [:aug 30]}),
    :plant/sow-outdoors
    ({:start [:feb 15], :end [:apr 30]}
     {:start [:aug 15], :end [:sept 30]}),
    :plant/transplant
    ({:start [:feb 15], :end [:apr 30]}
     {:start [:aug 15], :end [:sept 30]})}
   {:plant/name "Cumin", :plant/type :herb}
   {:plant/name "Desert Marigolds",
    :plant/scientific-name "Baileya multiradiata",
    :plant/type :flower,
    :plant/sow-outdoors
    ({:start [:feb 15], :end [:apr 15]}
     {:start [:oct 1], :end [:nov 30]})}
   {:plant/name "Dill",
    :plant/type :herb,
    :plant/sow-indoors ({:start [:aug 1], :end [:nov 30]}),
    :plant/sow-outdoors
    ({:start [:jan 1], :end [:jan 15]}
     {:start [:oct 1], :end [:dec 30]}),
    :plant/transplant
    ({:start [:jan 1], :end [:jan 15]}
     {:start [:oct 1], :end [:dec 30]})}
   {:plant/name "Eggplant",
    :plant/type :vegetable,
    :plant/sow-indoors
    ({:start [:jan 1], :end [:feb 30]}
     {:start [:may 1], :end [:jul 30]}),
    :plant/transplant
    ({:start [:mar 1], :end [:apr 30]}
     {:start [:jul 15], :end [:sept 30]})}
   {:plant/name "Garlic",
    :plant/type :vegetable,
    :plant/sow-outdoors ({:start [:oct 15], :end [:dec 15]})}
   {:plant/name "Grapes",
    :plant/type :vegetable,
    :plant/transplant
    ({:start [:feb 15], :end [:mar 30]}
     {:start [:oct 1], :end [:oct 30]})}
   {:plant/name "Green Onion",
    :plant/type :vegetable,
    :plant/sow-outdoors
    ({:start [:jan 1], :end [:apr 30]}
     {:start [:sept 15], :end [:dec 30]})}
   {:plant/name "Hollyhock",
    :plant/scientific-name "Alcea rosea",
    :plant/type :flower,
    :plant/sow-outdoors
    ({:start [:feb 1], :end [:mar 30]}
     {:start [:oct 1], :end [:nov 30]})}
   {:plant/name "Jicama",
    :plant/type :vegetable,
    :plant/sow-indoors ({:start [:jan 1], :end [:feb 30]}),
    :plant/sow-outdoors ({:start [:mar 1], :end [:apr 30]}),
    :plant/transplant ({:start [:mar 1], :end [:apr 30]})}
   {:plant/name "Kale",
    :plant/type :vegetable,
    :plant/sow-indoors ({:start [:aug 1], :end [:dec 30]}),
    :plant/sow-outdoors ({:start [:sept 15], :end [:dec 30]}),
    :plant/transplant
    ({:start [:jan 1], :end [:jan 30]}
     {:start [:sept 15], :end [:dec 30]})}
   {:plant/name "Lavender",
    :plant/type :herb,
    :plant/transplant
    ({:start [:jan 1], :end [:apr 30]}
     {:start [:oct 1], :end [:dec 30]})}
   {:plant/name "Lemon Grass",
    :plant/type :herb,
    :plant/transplant
    ({:start [:feb 1], :end [:apr 30]}
     {:start [:oct 1], :end [:nov 30]})}
   {:plant/name "Lettuce",
    :plant/type :vegetable,
    :plant/sow-indoors
    ({:start [:jan 1], :end [:jan 30]}
     {:start [:aug 1], :end [:dec 30]}),
    :plant/sow-outdoors ({:start [:sept 15], :end [:dec 30]}),
    :plant/transplant
    ({:start [:jan 1], :end [:jan 30]}
     {:start [:sept 15], :end [:dec 30]})}
   {:plant/name "Linaria",
    :plant/scientific-name "Linaria maroccana",
    :plant/type :flower,
    :plant/sow-outdoors ({:start [:sept 15], :end [:nov 15]})}
   {:plant/name "Luffa",
    :plant/sow-indoors ({:start [:jan 1], :end [:apr 30]}),
    :plant/sow-outdoors ({:start [:feb 15], :end [:apr 30]}),
    :plant/transplant ({:start [:feb 15], :end [:apr 30]})}
   {:plant/name "Nasturtium",
    :plant/scientific-name "Tropaeolum majus",
    :plant/type :flower,
    :plant/sow-outdoors
    ({:start [:jan 1], :end [:jan 30]}
     {:start [:oct 1], :end [:dec 30]})}
   {:plant/name "Okra",
    :plant/type :vegetable,
    :plant/sow-indoors ({:start [:feb 1], :end [:may 30]}),
    :plant/sow-outdoors ({:start [:mar 15], :end [:may 30]}),
    :plant/transplant ({:start [:mar 15], :end [:may 30]})}
   {:plant/name "Onion (Bulb)",
    :plant/type :vegetable,
    :plant/sow-indoors ({:start [:aug 1], :end [:nov 30]}),
    :plant/sow-outdoors ({:start [:oct 1], :end [:nov 30]}),
    :plant/transplant
    ({:start [:jan 1], :end [:jan 30]}
     {:start [:nov 1], :end [:dec 30]})}
   {:plant/name "Peas",
    :plant/type :vegetable,
    :plant/sow-outdoors
    ({:start [:jan 1], :end [:jan 30]}
     {:start [:sept 15], :end [:dec 30]})}
   {:plant/name "Peppers",
    :plant/type :vegetable,
    :plant/sow-indoors
    ({:start [:jan 1], :end [:feb 30]}
     {:start [:may 1], :end [:jul 30]}),
    :plant/transplant
    ({:start [:feb 15], :end [:apr 30]}
     {:start [:jul 15], :end [:sept 30]})}
   {:plant/name "Potatoes",
    :plant/type :vegetable,
    :plant/sow-indoors ({:start [:aug 1], :end [:dec 30]}),
    :plant/sow-outdoors
    ({:start [:jan 1], :end [:jan 30]}
     {:start [:sept 1], :end [:dec 30]})}
   {:plant/name "Roselle Hibiscus",
    :plant/type :flower,
    :plant/sow-indoors ({:start [:feb 1], :end [:apr 30]}),
    :plant/sow-outdoors ({:start [:mar 15], :end [:may 30]}),
    :plant/transplant ({:start [:mar 15], :end [:may 30]})}
   {:plant/name "Saffron Crocus",
    :plant/type :herb,
    :plant/sow-outdoors ({:start [:sept 15], :end [:oct 30]})}
   {:plant/name "Sage",
    :plant/type :herb,
    :plant/transplant
    ({:start [:feb 1], :end [:apr 30]}
     {:start [:oct 1], :end [:nov 30]})}
   {:plant/name "Spinach",
    :plant/type :vegetable,
    :plant/sow-indoors ({:start [:aug 1], :end [:dec 30]}),
    :plant/sow-outdoors
    ({:start [:jan 1], :end [:jan 30]}
     {:start [:sept 15], :end [:dec 30]}),
    :plant/transplant
    ({:start [:jan 1], :end [:jan 30]}
     {:start [:sept 15], :end [:dec 30]})}
   {:plant/name "Squash (Summer)",
    :plant/type :vegetable,
    :plant/sow-indoors
    ({:start [:jan 1], :end [:feb 30]}
     {:start [:jul 1], :end [:aug 30]}),
    :plant/sow-outdoors
    ({:start [:feb 15], :end [:mar 30]}
     {:start [:aug 15], :end [:sept 30]}),
    :plant/transplant
    ({:start [:feb 15], :end [:mar 30]}
     {:start [:aug 15], :end [:sept 30]})}
   {:plant/name "Squash (Winter)",
    :plant/type :vegetable,
    :plant/sow-indoors
    ({:start [:feb 1], :end [:feb 30]}
     {:start [:jun 1], :end [:jul 30]}),
    :plant/sow-outdoors
    ({:start [:mar 1], :end [:mar 30]}
     {:start [:jul 1], :end [:aug 30]}),
    :plant/transplant
    ({:start [:mar 1], :end [:mar 30]}
     {:start [:jul 1], :end [:aug 30]})}
   {:plant/name "Strawberry",
    :plant/type :vegetable,
    :plant/transplant
    ({:start [:jan 1], :end [:jan 30]}
     {:start [:sept 15], :end [:dec 30]})}
   {:plant/name "Sunflower",
    :plant/scientific-name "Healianthus annus",
    :plant/type :flower,
    :plant/sow-outdoors ({:start [:feb 1], :end [:jul 30]})}
   {:plant/name "Sweet Alyssum",
    :plant/scientific-name "Lobularia maritima",
    :plant/type :flower,
    :plant/sow-outdoors
    ({:start [:jan 1], :end [:mar 30]}
     {:start [:oct 1], :end [:dec 30]})}
   {:plant/name "Sweet Peas",
    :plant/scientific-name "Lathyrus odoratus",
    :plant/type :flower,
    :plant/sow-outdoors
    ({:start [:jan 1], :end [:feb 30]}
     {:start [:oct 1], :end [:dec 30]})}
   {:plant/name "Thyme",
    :plant/type :herb,
    :plant/transplant
    ({:start [:feb 1], :end [:apr 30]}
     {:start [:oct 1], :end [:nov 30]})}
   {:plant/name "Tomatoes",
    :plant/scientific-name "Solanum lycopersicum"
    :plant/type :vegetable,
    :plant/sow-indoors
    ({:start [:jan 1], :end [:jan 30]}
     {:start [:may 1], :end [:jul 30]}
     {:start [:dec 1], :end [:dec 30]}),
    :plant/transplant
    ({:start [:feb 15], :end [:mar 30]}
     {:start [:jul 15], :end [:sept 30]})}
   {:plant/name "Watermelon",
    :plant/type :vegetable,
    :plant/sow-outdoors ({:start [:feb 15], :end [:mar 30]})}
   {:plant/name "Yarrow",
    :plant/scientific-name "Achillea spp.",
    :plant/type :flower,
    :plant/sow-outdoors
    ({:start [:feb 1], :end [:mar 30]}
     {:start [:oct 1], :end [:nov 30]})}
   {:plant/name "Zinnia",
    :plant/scientific-name "Zinnia elegans",
    :plant/type :flower,
    :plant/sow-outdoors ({:start [:mar 1], :end [:jun 30]})}
  
  ]
 }
