{:genuses      {:abies          {}
                :acer           {}
                :alnus          {}
                :amelanchier    {}
                :astragalus     {}
                :baccharis      {}
                :baileya        {}
                :betula         {}
                :camissonia     {}
                :chaenactis     {}
                :chrysothamnus  {}
                :cirsium        {}
                :coreopsis      {}
                :cornus         {}
                :corylus        {}
                :crataegus      {}
                :dalea          {}
                :encelia        {}
                :ericameria     {}
                :erigeron       {}
                :fragaria       {}
                :fraxinus       {}
                :grindelia      {}
                :gutierrezia    {}
                :helianthus     {}
                :heterotheca    {}
                :isocoma        {}
                :juglans        {}
                :larix          {}
                :lotus          {}
                :machaeranthera {}
                :malus          {}
                :ostrya         {}
                :pectis         {}
                :phacelia       {}
                :picea          {}
                :pinus          {}
                :populus        {}
                :prosopis       {}
                :prunus         {}
                :pseudotsuga    {}
                :psorothamnus   {}
                :quercus        {}
                :rosa           {}
                :rubus          {}
                :salix          {}
                :senecio        {}
                :solidago       {}
                :sphaeralcea    {}
                :symphyotrichum {}
                :tiquilia       {}
                :tsuga          {}
                :ulmus          {}
                :vaccinium      {}
                :verbesina      {}
                :vitis          {}}}
