{:plant/plants
 [
  {:plant/name            "Linaria",
   :plant/scientific-name "Linaria maroccana",
   :plant/type            :flower,
   :plant/sow-outdoors    ({:start [:sept 15]
                            :end   [:nov 15]})}
  {:plant/name            "Nasturtium",
   :plant/scientific-name "Tropaeolum majus",
   :plant/type            :flower,
   :plant/sow-outdoors    ({:start [:jan 1]
                            :end   [:jan 30]}
                           {:start [:oct 1]
                            :end   [:dec 30]})}
  {:plant/name         "Roselle Hibiscus",
   :plant/type         :flower,
   :plant/sow-indoors  ({:start [:feb 1]
                         :end   [:apr 30]}),
   :plant/sow-outdoors ({:start [:mar 15]
                         :end   [:may 30]}),
   :plant/transplant   ({:start [:mar 15]
                         :end   [:may 30]})}
  {:plant/name         "Sunflower",
   :plant/genus        :helianthus
   :plant/species      :annus
   :plant/type         :flower,
   :plant/sow-outdoors ({:start [:feb 1]
                         :end   [:jul 30]})}
  {:plant/name            "Sweet Alyssum",
   :plant/scientific-name "Lobularia maritima",
   :plant/type            :flower,
   :plant/sow-outdoors    ({:start [:jan 1]
                            :end   [:mar 30]}
                           {:start [:oct 1]
                            :end   [:dec 30]})}
  {:plant/name            "Sweet Peas",
   :plant/scientific-name "Lathyrus odoratus",
   :plant/type            :flower,
   :plant/sow-outdoors    ({:start [:jan 1]
                            :end   [:feb 30]}
                           {:start [:oct 1]
                            :end   [:dec 30]})}
  {:plant/name "Desert Bluebell",
   :plant/genus :phacelia
   :plant/type :flower}
  {:plant/name            "Hollyhock",
   :plant/scientific-name "Alcea rosea",
   :plant/type            :flower,
   :plant/sow-outdoors    ({:start [:feb 1]
                            :end   [:mar 30]}
                           {:start [:oct 1]
                            :end   [:nov 30]})}
  {:plant/name         "Desert Marigolds",
   :plant/genus        :baileya
   :plant/species      :multiradiata
   :plant/type         :flower,
   :plant/sow-outdoors ({:start [:feb 15]
                         :end   [:apr 15]}
                        {:start [:oct 1]
                         :end   [:nov 30]})}
  {:plant/name        "Chamomile",
   :plant/type        :flower,
   :plant/sow-indoors ({:start [:jan 1]
                        :end   [:jan 30]}
                       {:start [:aug 1]
                        :end   [:dec 30]}),
   :plant/transplant  ({:start [:jan 1]
                        :end   [:mar 30]}
                       {:start [:oct 1]
                        :end   [:dec 30]})}
  {:plant/name            "Calendula",
   :plant/scientific-name "Calendula officinalis",
   :plant/type            :flower,
   :plant/sow-outdoors    ({:start [:sept 15]
                            :end   [:nov 30]})}
  {:plant/name            "Bells of Ireland",
   :plant/scientific-name "Moluccella laevis",
   :plant/type            :flower,
   :plant/sow-outdoors    ({:start [:sept 15]
                            :end   [:nov 30]})}
  {:plant/name            "Bachelor’s Button",
   :plant/scientific-name "Centaurea cyanus",
   :plant/type            :flower,
   :plant/sow-outdoors    ({:start [:sept 15]
                            :end   [:nov 30]})}
  {:plant/name            "Yarrow",
   :plant/scientific-name "Achillea spp.",
   :plant/type            :flower,
   :plant/sow-outdoors    ({:start [:feb 1]
                            :end   [:mar 30]}
                           {:start [:oct 1]
                            :end   [:nov 30]})}
  {:plant/name            "Zinnia",
   :plant/scientific-name "Zinnia elegans",
   :plant/type            :flower,
   :plant/sow-outdoors    ({:start [:mar 1]
                            :end   [:jun 30]})}
  {:plant/name            "Borage"
   :plant/scientific-name "Borago officinalis"
   :plant/type            :flower
   :plant/sow-outdoors    [{:start [:jan 1]
                            :end   [:jan 15]}
                           {:start [:oct 1]
                            :end   [:dec 30]}]}
  {:plant/name         "Echinacea"
   :plant/type         :flower
   :plant/sow-outdoors [{:start [:oct 1]
                         :end   [:nov 15]}]}
  {:plant/name         "Snapdragon"
   :plant/type         :flower
   :plant/genus        :antirrhinum
   :plant/species      :majus
   :plant/germination  {:temp {:min 70
                               :max 75}
                        :depth {:min 0.25}
                        :duration {:min 7
                                   :max 14}
                        :spacing {:min 6
                                  :max 12}}
   :plant/photos       [{:url "https://upload.wikimedia.org/wikipedia/commons/6/66/Antirrhinum_majus_from_Thasos.JPG"}]
   :plant/sow-outdoors [{:start [:jan 1]
                         :end   [:feb 15]}
                        {:start [:sept 15]
                         :end   [:dec 30]}]}
  ]}
